.footer {
    width: 100%;
    margin: 0px;
    padding-top: 0px;
    background-color: transparent;
    color: black;
    text-align: center;
    font-family: helvetica, sans, monospace;
  }
.social-icon-footer{
    width:30px;
}

.social-button-footer{
    margin: 0px;
    background-color: transparent;
    border-color: transparent;
}
.social-button-footer:hover{
    cursor: pointer;
}

.social-button-footer:active{
    outline: 0;
}

.social-button-footer:focus{
    outline: 0;
}