.image-gallery-content{
    width: 100%;
    height: 100%;
    /*margin: auto, 10%, auto, 10%;*/
    background-color: white;
    max-height: none;
}

.image-gallery img {
    min-width: 100%;
    width: 100%;
    height: 100%;
    max-height: none;
}